/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fffdf7;
    color: #333;
    line-height: 1.6;
  }
  
  .header {
    text-align: center;
    padding: 3rem 1rem 2rem;
    background-color: #f5e9c8;
    align-items: justify;
    margin: auto;
  }
  
  .header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .header p {
    font-size: 1.1rem;
    color: #555;
    max-width: 800px;
    margin:auto;
    text-align: justify;
}

  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1200px;
    margin: auto;
    gap: 1.5rem;
    padding: 2rem;
  }
  
  
  .gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
    background-color: #fff;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover img {
    transform: scale(1.05);
  }
  .button{
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;   
    margin-bottom: 2rem;
  }
  .works-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #eec556;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .works-btn:hover {
    background-color: white;
    border: 2px solid #15203a;
    color: #333;    
  }
  
  .works-btn {
    margin-left: 0.5rem;
    background-color: #15203a;
    color: white ;
  }
   /* Footer */
   .footer {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #15203a;
    font-family: Arial, sans-serif;
  }
  
  .footer__icons {
    margin-bottom: 1rem;
  }
  
  .footer__icons a {
    margin: 0 1rem;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .footer__icons a:hover {
    transform: scale(1.4);
  }
  
  .footer__icons img {
    width: 32px;
    height: 32px;
  }
  .footer__text {
    font-size: 0.9rem;
    color: #000000;
  }
  
/* Media Queries */
@media (min-width: 992px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 991px) and (min-width: 601px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .gallery {
      grid-template-columns: 1fr;
    }
  }
  